
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.first-nav {
    opacity: 1;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0;
   
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
  }
  

  nav ul li:last-child {
    margin-right: 0;
    margin-right: 70px;
    top: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .social-icons {
    display: flex;
    
  }
  
  .social-icons a {
    margin-left: 20px;
  }
  
  .social-icons a i {
    color: #fff;
    font-size: 24px;
  }

  @media only screen and (max-width: 700px) {
  
    .first-nav {
      opacity: 1;
      display: flex;
      justify-content: end;
      width: 100%;
    }
    .social-icons {
      display: flex;
      justify-content: end;
      width: 100%;
      
    }
  }


  /* main navigation bar start */
  
  .Main_navbar {
    position: absolute;
    width: 100%;
    top: 48px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(231, 228, 228, 1);
  }
  .logo{   
    display: flex;
    justify-content: center;
    left: 0;
     top: 0;
     height: 100px;
    width: 30%;
    align-items: center;


  }
  
  .logo a img {
    text-align: center;
    vertical-align: center;

    width: 250px;
    height: 55px;
  }
  .pages{
    width: 70%;
    text-align: center;
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
   align-items: center;
    display: flex;
    justify-content: start;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation li a {
    color:darkblue;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .last-butn{
    padding-left: 60px;
  }
  .navigation li a:hover {
  color: orangered;
  }
  .book-butn1{
    background-color: orangered;
    color: white;
    width: 130px;
    height: 45px;
    font-size: 18px;
    border: solid white 1px;
    border-radius: 25px;
  }

  @media only screen and (max-width: 700px) {
    .Main_navbar {
      width: 100%;
      top: 48px;
      height: auto;
      display: block;
      align-items: center;
  
      background-color: rgba(231, 228, 228, 0.2);
     
    }
    .pages{
      width: 100%;
      
      text-align: center;
      display: block;
    }
     
  .navigation {
    list-style: none;
    margin-top: -100px;
   align-items: center;
    display: block;
    justify-content: center;
     }
  .logo{   
    display: block;
    justify-content: start;
    height: 100px;
    width: 20%;
  }
   
  .logo a img {
    width: 150px;
    height: 35px;
  }

  }

/* main video section div start */
.videocontainer{
  width: 100%;
  height: 100%;
  top: 0;

}

  .back-video{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
   
  }
  video{
    height: 100%;
    width: 100%;
  }
  
 

  @media(min-aspect-ratio: 16/9){
     .back-video{
      width: 100%;
      height: auto;
     }
  }
  @media(max-aspect-ratio: 16/9){
    .back-video{
     width: auto;
     height: 100%;
    }
  }


 /* About us section start */
 .about-section{
  display: flex;
  justify-content: center;
  height: 850px;
  align-items: center;
  flex-wrap: wrap;
}




.leftdiv{
  height: 590px;
  width: 450px;
  background-color: rgb(210, 214, 218);
  text-align: justify;
  z-index: +2;
  margin-left: 0px;
  padding: 45px;
  box-sizing: border-box;
}
.about-us{
  text-align: center;
  font-weight: 300;
}
.rightdiv{
  height: 650px;
  width: 550px;
  z-index: -1;
 
}
.rightdiv img{
  height: 100%;
  width: 100%;
  
}
@media only screen and (max-width: 700px) {
  .about-section{
    display: block;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .leftdiv{
    height: auto;
    width: 100%;
    text-align: center;
  }
  .rightdiv{
    margin-top: 50px;
    box-sizing: border-box;
    height: auto;
    width: 100%;    
  }
}

/* ----------------------------------------------------------------------- */
/* slider section start */

.cards-section{
  width: 100%;
  height: 650px;
 margin: auto;

}
.pic-ctn01 {
  width: 70%;
  height: 85%;
  text-align: center;
  margin: auto;
  position: relative;

}

@keyframes display {
  0% {
    transform: translateZ(200px);
    opacity: 0;
  }
  10% {
    transform: translateZ(0);
    opacity: 1;
  }
  20% {
    transform: translateZ(0);
    opacity: 1;
  }
  30% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  40% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  50% {
    transform: translateZ(-200px);
    opacity: 0;
  }
  100% {
    transform: translateZ(-200px);
    opacity: 0;
  }
}



.pic-ctn01  img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: display 10s infinite;
  height: 100%;
  width:100%;
  align-items: center;
  text-align: center;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

@media only screen and (max-width: 700px) {

  .cards-section{
    width: 100%;
    height: 600px;
    margin: auto;
    box-sizing: border-box;
    padding-top: 100px;  
  }
  .pic-ctn01 {
    background-color: blueviolet;
    width: 90%;
    height: 90%;
    text-align: center;
    margin: auto;
    position: relative;
  
  }
}





 


/* facilities text cards start */

.myfiest{
  text-align: center;
  font-size: 40px;
  font-weight: 200;
}
.facility_text_section{
  color: gray;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  border: none;
  box-sizing: border-box;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
  width: 250px;
  height: auto;
  border: none;
  border-radius: 10px;
  padding: 20px;
}

#imficon01{
height: 100px;
opacity: 0.7;
}
img{
  width: 150px;
  height: 80px;
  color: gray;
}

  

#imficon03{

  width: 100px;
  height: 90px;
  opacity: 0.6;
  
}

.description {
  font-size: 1em;
  text-align: center;
}


@media only screen and (max-width: 700px) {
  .facility_text_section{
    display: block;    
    height: auto;

  }
  .card {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

}



  /*facilities image card section start */

  .cards-section02{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
    margin: auto;
    
  
  }
  .pics-div {
    width: 23%;
    height: 307px;
    text-align: center;
    margin: auto;
    position: relative;
    box-sizing: border-box;
     
  }


 
  .mysecion02{
    height: auto;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    box-sizing: border-box;
    text-align: center;
    /* background-color: rgb(226, 210, 180); */
    
  }
  .mysecion h2{
    padding-top: 0;
    margin-top: 0px;
  }
 
  
  @keyframes display {
    0% {
      transform: translateZ(200px);
      opacity: 0;
    }
    10% {
      transform: translateZ(0);
      opacity: 1;
    }
    20% {
      transform: translateZ(0);
      opacity: 1;
    }
    30% {
      transform: translateZ(-200px);
      opacity: 0;
    }
    100% {
      transform: translateZ(-200px);
      opacity: 0;
    }
  }
  .pics-div img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    animation: display 10s infinite;
    height: 225px;
    width: 100%;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }
  .textdiv{
   width: 100%;
   height: 80px;
   background-color: white;
   margin-top: 225px;
   text-align: center;
   font-weight: 200;
   font-size: 30px;
   box-sizing: border-box;
   padding-top: 20px;
   position: relative;
  }

  @media only screen and (max-width: 700px) {

    .cards-section02{
       display: block;
      width: 90%;
      height: auto;
      margin: auto;    
    }
    .pics-div {
       width: 100%;
      height: 407px;
      text-align: center;
      border: solid white 1px;
      margin-top: 100px;
    }
    .pics-div img {
      height: 80%;
      width: 100%; 
    }
    .textdiv{
      width: 100%;
      height: 19%;
      margin-top: 325px;
      font-weight: 200;
      
     }
 }
 
/*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

  .footer_section{
     height: 210px;
    width: 100%;
    background-color: rgb(247, 195, 148);

   }
   .firstrow_footer{
     display: flex;
    justify-content: space-around; 
    height: 70%;
    width: 100%;
    /* background-color: rgb(141, 77, 141); */
   }
   .logo-sec-footer{
    height: 150px;
    width: 400px;
    text-align: center;
    box-sizing: border-box; 
  
    
   }
   .logo-sec-footer img{
    height: 50%;
    width: 50%;
   }
   .center_logo_footer{
    height: 100px;
    width: 100%;
    text-align: center;
   }
   .center_logo_footer img{
    height: 130px;
    width: 140px;
    margin-top: -75px;

   }
   .icondiv_of_footer{
  
    height: 50px;
    width: 400px; 
   }
   .icons_sec_footer{
     height: 100%;
    width: 400px; 
    /* background-color: olivedrab; */
   }
 
   .social_icons_footer{
     list-style-type: none;
     margin-left: 90px;
     width: 70%;
  
   }
   #footer_icons{
     font-size: 40px;
    align-items: center;
    padding-left: 10px;
    color: white; 
    
   }

    .blog_sec{
       height: 150px;
      width: 400px;
      padding-top: 30px;
      box-sizing: border-box;
      color:white; 
   }
    .blog_sec p1{
       color: white; 
    }
    .addr{
       font-size: 20px; 
    }
  
    /* second row start */
    .secondrow_footer{
       display: flex;
      justify-content: space-around; 
      height: 50px;
      /* background-color: yellowgreen; */
    }
    .copyright_div{
      padding-left: 50px;
      width: 40%;
      height: auto;
      color: white; 
    }
    .right_side_div{
       display: flex;
      text-align: center;
      padding-left: 380px;
      width: 60%;    
      box-sizing: border-box;
      height: auto;
      color: white; 
    }
  
  
    @media only screen and (max-width: 700px) {
    
      .footer_section{
        margin-top: -220px;
        
        height: auto;
        width: 100%; 
       /* background-color: rgb(197, 176, 157); */
    
   
      }
      .firstrow_footer{
        display: block;
       height: auto;
       width: 100%; 
       margin-top: 400px;
      }
      .logo-sec-footer{
       height: 00px;
        width: 100%; 
        
      
        
       }
       .logo-sec-footer img{
        display: none;
       }
       .center_logo_footer{
         width: 100%;
        height: 100px;
        margin: auto;  
       }
       .center_logo_footer img{
           height: 60%;
        width: 25%;
        margin-top: -40px; 
      
       }
      
       .icons_sec_footer ul{
       margin-top: 0px;
         height: 50px;
        width: 100%;   
       }
       .icons_sec_footer{
        /* border: solid white 1px; */
        height: 150px;
        /* background-color: red; */
       }
       .social_icons_footer{
         list-style-type: none;
         margin-left: 90px;
         width: 60%; 
       
       }
    
    
        .blog_sec{
          margin-top: 0px;
           height: 150px;
          width: 100%;
          text-align: center;
          padding-top: 30px;
          box-sizing: border-box;  

       }
         
    /* second row start */
    .secondrow_footer{
       margin-top: 0px;
      display: block; 
    width: 100%;
    height: 500px;
    text-align: center;
     
   
   }
  
   .copyright_div{
    padding-left: 0px;
    width: 100%;
    height: 50px;
    
  }
  .right_side_div{
     /* display: flex; */
    text-align: center;
    padding-left: 0px;
    justify-content: center;
    width: 100%;    
    /* box-sizing: border-box; */
    height: 50px;
   
  }  
    
    }

 
  
  