<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <!-- style.css -->
    <link rel="stylesheet" href="/mangalview-v2/TheManglaView/static/css/Anshu1.css">
    <link rel="stylesheet" href="/mangalview-v2/TheManglaView/static/css/header.css">
      <!-- icons cdn link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    
</head>
<body>
    <!-- header section start -->

    <div class="header_section" style="margin-top: 200px;" >
      <nav class="first-nav">
        <ul>
           <li class="social-icons">
            
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </nav>
    <!-- main navigation bar start  -->
    <div class="header-section">
      <nav class="Main_navbar">
      <div class="logo">
        <a href="#"><img src="/mangalview-v2/TheManglaView/static/images/logo.png" alt="Logo"></a>
      </div>
    
      <div class="pages">
      <ul class="navigation">
        <li><a href="/mangalview-v2/TheManglaView/templates/index.html">Home</a></li>
        <li><a href="/mangalview-v2/TheManglaView/templates/ourstory.html">Our Story</a></li>
        <li><a href="/mangalview-v2/TheManglaView/templates/facilities1.html">Rooms & Facilities </a></li>
        <li><a href="/mangalview-v2/TheManglaView/templates/restaurant1.html">Dining</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="/mangalview-v2/TheManglaView/templates/contact1.html">Contact Us</a></li>
        <li class="last-butn"><a href="#"><button class="book-butn1">BOOK NOW</button></a></li>
      </ul>
      </div>
    </nav>
  </div>
  </div>
<!-- header section end -->



  <!-- Bnkt Hall start -->
<div class="container">
  <div>
  <div class="text-center mt-5 my-5"> 
    <h1 class="heading">Banquet Hall</h1></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
      <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/conference (2).jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title text-center sub-heading">Conference</h4>
        <!-- <p class="card-text">Some example text.</p>         -->
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/presentation.jpeg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-center sub-heading">Presentation</h4>
          <!-- <p class="card-text">Some example text.</p>         -->
        </div>
    </div>
  </div> 
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/meeting.jpeg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title text-center sub-heading">Meetings</h4>
      <!-- <p class="card-text">Some example text.</p>         -->
    </div>
</div>
</div>

</div>
</div>
</div>
<!-- Bnkt Hall end -->


<!-- Dining Hall Start -->
<div class="container">
  <div>
  <div class="text-center mt-5 my-5"> 
    <h1 class="heading">Dining Hall</h1></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
      <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/party.JPG" alt="Card image">
      <div class="card-body">
        <h4 class="card-title text-center sub-heading">Party</h4>
        <!-- <p class="card-text">Some example text.</p>         -->
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
        <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/kitty party.JPG" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-center sub-heading">Kitty Party</h4>
          <!-- <p class="card-text">Some example text.</p>         -->
        </div>
    </div>
  </div> 
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/birthday.JPG" alt="Card image">
    <div class="card-body">
      <h4 class="card-title text-center sub-heading">Birthday</h4>
      <!-- <p class="card-text">Some example text.</p>         -->
    </div>
</div>
</div>

</div>
</div>
</div>
<!-- Dining Hall end -->



<!-- Roof top start -->
<div class="container my-5">
  <div>
  <div class="text-center mt-5 my-5"> 
    <h1 class="heading">Rooftop Restaurant</h1></div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
      <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/Roof_top_night.jpeg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title text-center sub-heading">Candle light dinner</h4>
        <!-- <p class="card-text">Some example text.</p>         -->
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card" style="width:400px">
        <img class="card-img-top mocktails" src="/mangalview-v2/TheManglaView/static/images/anshu-images/mocktails.jpg" alt="Card image">
        <div class="card-body">
          <h4 class="card-title text-center sub-heading">Mock tails</h4>
          <!-- <p class="card-text">Some example text.</p>         -->
        </div>
    </div>
  </div> 
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card" style="width:400px">
    <img class="card-img-top" src="/mangalview-v2/TheManglaView/static/images/anshu-images/ROOF TOP RESTAURANT .jpeg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title text-center sub-heading">Parties</h4>
      <!-- <p class="card-text">Some example text.</p>         -->
    </div>
</div>
</div>

</div>
</div>
</div>
<!-- Roof top end -->

   <!-- footer section start -->
   <div >
    <iframe src="/mangalview-v2/TheManglaView/templates/footer.html" frameborder="0" style="width: 100%; height: 290px"></iframe>
</div>
<!-- footer section end -->

  <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
