<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facilities & services</title>
    <!-- Style.css -->
    <link rel="stylesheet" href="/TheManglaView/static/css/Anshu1.css">
    <link rel="stylesheet" href="/TheManglaView/static/css/header.css">
    <!-- icons cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
   <!-- header section start -->
 <div class="header-section" style="height: 200px;">
  <nav class="first-nav">
    <ul>
       <li class="social-icons">
        
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </nav>
<!-- main navigation bar start  -->

<nav class="Main_navbar">
  <div class="logo">
    <a href="#"><img src="/TheManglaView/static/images/logo.png" alt="Logo"></a>
  </div>

  <div class="pages">
  <ul class="navigation">
    <li><a href="/TheManglaView/templates/Mangalview.html">Home</a></li>
    <li><a href="/TheManglaView/templates/ourstory.html">Our Story</a></li>
    <li><a href="#">Rooms & Facilities </a></li>
    <li><a href="/TheManglaView/templates/restaurant1.html">Dining</a></li>
    <li><a href="/TheManglaView/templates/events1.html">Events</a></li>
    <li><a href="/TheManglaView/templates/contact1.html">Contact Us</a></li>
    <li class="last-butn"><a href="#"><button class="book-butn1">BOOK NOW</button></a></li>
  </ul>
  </div>
</nav>
</div>

<!-- header section end -->

<div class="container mb-5">
    <div class=" mt-5 mb-5 "><h1 class="heading">Rooms & Facilities</h1></div>

    <!-- First type room -->
    <div>
      <div class="d-flex row mt-5 mb-5">

        <div class="col col-lg-6 col-md-12 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">   
                    <img src="TheManglaView/static/images/anshu-images/DELUXE ROOM DOOR.jpeg" class="d-block w-100 h-50" alt="...S">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/DELUXE ROOM 003.jpeg" class="d-block w-100 h-50" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/DELUXE ROOM FULL.jpeg" class="d-block w-100 h-50" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/VIEW FROM DELUXE ROOM.jpeg" class="d-block w-100 h-50" alt="...">
                  </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="matter col col-lg-6 col-md-12 col-sm-12">
            <h3 class="sub-heading">Deluxe Rooms</h3>
            <p> Our deluxe rooms offer a luxurious experience that will make your stay truly unforgettable. These spacious rooms are elegantly furnished and equipped with all the amenities you need for a comfortable and relaxing stay. Enjoy a good night's sleep on our plush bedding, or unwind in our cozy seating area. You'll appreciate the extra touches we've added to make your stay even more comfortable, such as complimentary toiletries and a flat-screen TV. With large windows offering plenty of natural light and stunning views, our deluxe rooms are the perfect choice for guests seeking the ultimate in comfort and luxury.</p>

                <table class="table table-borderless container row">       
    
                    <tr class="col col-lg-6">
                      <th scope="row">View</th>
                      <td>City Palace</td>
                      
                    </tr>
                    <!-- <tr class="col col-lg-6">
                      <th scope="row">Total Room Size</th>
                      <td>Sq.feet</td>
                     </tr> -->
                </table>
            <button class="btn mt-1" style="background-color: #978667; color: white;">BOOK ></button>
            
                
        </div>     
     </div>
    </div>
    

     <!-- second type room -->
     <div class=" d-flex row mt-5 mb-5">

        <div class="col col-lg-6 col-md-12 col-sm-12  ">
            <div id="carouselExampleControls-2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="TheManglaView/static/images/anshu-images/STANDARD ROOM(1).jpeg" class="d-block w-100 h-50" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/DELUXE ROOM SITTING AREA.jpeg" class="d-block w-100 h-50" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/WASH ROOM STANDARD.jpeg" class="d-block w-100 second_room_img3" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="TheManglaView/static/images/anshu-images/VIEW FROM DELUXE ROOM.jpeg" class="d-block w-100  " alt="...">
                  </div>
                </div>
                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12  ">
            <h3 class="sub-heading">Budget Rooms</h3>
            <p> If you're looking for a comfortable and affordable stay, our budget rooms are the perfect choice for you. These cozy rooms offer all the essentials you need for a comfortable stay, including a comfortable bed and a private bathroom. While our budget rooms are smaller than our deluxe rooms, they still provide plenty of comfort and convenience, with a focus on affordability. Whether you're traveling on a tight budget or simply prefer a more basic accommodation, our budget rooms offer everything you need for a comfortable and enjoyable stay.</p>
                <table class="table table-borderless container row">       
    
                    <tr class="col col-lg-6">
                      <th scope="row">View</th>
                      <td>City Palace</td>
                      
                    </tr>
                    <!-- <tr class="col col-lg-6">
                      <th scope="row">Total Room Size</th>
                      <td>Sq.feet</td>
                     </tr> -->
                </table>
                <button class="btn mt-1" style="background-color: #978667; color: white;">BOOK ></button>
            
                
        </div>  
          
     </div>
     
     <!-- third type rooms -->
     <div class=" d-flex row mt-5 mb-5">

        <div class="col col-lg-6 col-md-12 col-sm-12  ">
            <!-- <div id="carouselExampleControls-3" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls-3" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls-3" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> -->
              <img src="/TheManglaView/static/images/anshu-images/coming-soon.jpg" alt="">
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12  ">
            <h3 class="sub-heading">Super Deluxe Suites</h3>
            <p > coming-soon</p>
                <table class="table table-borderless container row">       
    
                    <tr class="col col-lg-6">
                      <th scope="row">View</th>
                      <td>City Palace</td>
                      
                    </tr>
                    <!-- <tr class="col col-lg-6">
                      <th scope="row">Total Room Size</th>
                      <td>Sq.feet</td>
                     </tr> -->
                </table>
            <button class="btn mt-1" style="background-color: #978667; color: white;">BOOK ></button>

                
        </div>     
     </div>
     <!-- Bnket Hall -->
     <div class=" d-flex row mt-5 mb-5">

        
        <div class="matter col col-lg-6 col-md-12 col-sm-12">
            <h3 class="sub-heading">Banquet Hall</h3>
            <p>Our hotel's spacious banquet hall is the perfect venue for all your conference and meeting needs. Whether you're hosting a business presentation, a training session, or a conference, our banquet hall is well-suited for all types of events. With ample seating for up to 50 guests, our banquet hall offers a comfortable and elegant setting for your event.</p>
            <p>Equipped with state-of-the-art audiovisual technology, including projectors and sound systems, our banquet hall makes it easy to deliver impactful presentations and meetings. Our professional and experienced event staff will work with you to ensure your event runs smoothly, from setting up the space to providing catering services.</p>
            <p>Our banquet hall also offers the flexibility to accommodate different seating arrangements, including theatre-style, classroom-style, and boardroom-style. Whether you're looking for an intimate setting for a small meeting or a large space for a conference, our banquet hall is the perfect choice.</p>  
            <p>With ample light and modern decor, our banquet hall offers a welcoming and professional atmosphere that will impress your guests. Contact us today to book our banquet hall for your next conference or meeting.</p>
            <table class="table table-borderless container row">       
    
                    <tr class="col col-lg-6">
                      <th scope="row">View</th>
                      <td>City Palace</td>
                      
                    </tr>
                    <!-- <tr class="col col-lg-6">
                      <th scope="row">Vision</th>
                      <td>Panorama</td>
                     </tr> -->
                </table>
            <button class="btn mt-5" style="background-color: #978667; color: white;">BOOK ></button>
            
                
        </div>  
        <div class="col col-lg-6 col-md-12 col-sm-12 ">
            <img class="images" src="TheManglaView/static/images/anshu-images/conference.jpeg" alt="">
        </div> 

     </div>
</div>
         
   <!-- footer section start -->
<div >
    <iframe src="TheManglaView/templates/footer.html" frameborder="0" style="width: 100%; height: 290px"></iframe>
</div>
<!-- footer section end -->
    




<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>



    
</body>
</html>
