<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us Page - FantacyDesigns</title>
  <link rel="stylesheet" href="/TheManglaView/static/css/ourstory.css">
  <link rel="stylesheet" href="static/css/header.css">
      <!-- icons cdn link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Dancing Script">
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Open Sans">
</head>

<body>
 

 <!-- header section start -->
 <div class="header-section" style="height: 200px;">
  <nav class="first-nav">
    <ul>
       <li class="social-icons">
        
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </nav>
<!-- main navigation bar start  -->

<nav class="Main_navbar">
  <div class="logo">
    <a href="#"><img src="TheManglaView/static/images/logo.png" alt="Logo"></a>
  </div>

  <div class="pages">
  <ul class="navigation">
    <li><a href=" ">Home</a></li>
    <li><a href="#">Our Story</a></li>
    <li><a href="facilities1.html">Rooms & Facilities </a></li>
    <li><a href="TheManglaView/templates/restaurant1.html">Dining</a></li>
    <li><a href="TheManglaView/templates/events1.html">Events</a></li>
    <li><a href="TheManglaView/templates/contact1.html">Contact Us</a></li>
    <li class="last-butn"><a href="#"><button class="book-butn1">BOOK NOW</button></a></li>
  </ul>
  </div>
</nav>
</div>

<!-- header section end -->

    <!-- our story section start>>>>>>>>>>> -->
  <div class="about-section">
    <div class="inner-container">
      <h1 class="ourstory" style="font-family: Dancing Script; font-size: 50px;"> Our Story</h1>
      <p class="text" style=" font-family: 'Open Sans'; color: black;">
        Our journey began on the 9th of December, 2022 when our founder, Mr. Lalit Prakash Sharma, inaugurated this hotel with the aim of providing a comfortable, homely, and satvic environment for guests. From the very beginning, we have been committed to simplicity, quality, and service in everything we do. <br>

        At our hotel, we believe that hospitality is for everyone. While we welcome all guests, our hotel is especially suited for those seeking a homely and satvic atmosphere. We offer pure vegetarian dining options that are both delicious and healthy. We are proud to say that our hotel does not have a bar or serve alcohol, making it a safe and wholesome environment for families.<br>
        
        Located on the main road near Gulab Bagh, our hotel offers a convenient location for both business and leisure travelers. Our hotel features a range of room options to suit every need, from standard rooms to suites. All rooms are designed to provide a comfortable and relaxing stay for our guests.<br>
        
        We are committed to providing the best possible service to our guests, and we strive to exceed their expectations in every way.
        
        Thank you for choosing our hotel for your stay. We look forward to welcoming you soon.
      </p>
   <!-- our story section end>>>>>>>>> -->
      </div>
    </div>
   <!-- footer section start -->
   <div >
    <iframe src="mangalview-v2/TheManglaView/templates/footer.html" frameborder="0" style="width: 100%; height: 290px;" ></iframe>
</div>
<!-- footer section end -->

  
    
</body>

</html>
